@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

/* * {
  font-family: Lato;
} */